#root {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  height: 100%;
  max-width: 50em;
  margin: 0 auto;
}

.app {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

.header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;

  p {
    margin: 0;
  }
}

.input {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  justify-content: center;
  padding: 0.5em 1em 1em;

  h1 {
    color: var(--primary-color);
    font-size: 1.5em;
    font-weight: 700;
    margin: 0;
  }

  textarea {
    flex-grow: 1;
    font-family: "IBM Plex Mono", monospace;
    min-width: 14em;
    width: 100%;
  }

  .controls {
    display: flex;
    justify-content: space-between;

    .buttons {
      display: flex;
      gap: 0.5em;
    }
  }

  .credits {
    font-size: 0.8em;
    margin: 0;
  }
}

.output {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-height: 100%;
  min-width: 0%;

  &.loading {
    align-items: center;
    flex-direction: row;
    gap: 0.5em;
    justify-content: center;
  }

  .load-more {
    margin: 1em;
  }

  .links {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }
}

.output-controls {
  padding: 0.5em 0.5em 0.5em 0;
}

@media (max-width: 720px) {
  .app {
    flex-direction: column;
  }

  .input textarea {
    min-height: 15em;
  }

  .credits {
    display: none;
  }
}
