@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,600;0,700&family=IBM+Plex+Sans:ital,wght@0,100..700&display=swap");

:root {
  --primary-color: #116932;
  --secondary-color: #22c55e;
  --tertiary-color: #f0fdf4;
}

html {
  color: #222;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  font-size: clamp(16px, 2.4vw, 21px);
  line-height: 1.4;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

a {
  color: var(--primary-color);
  text-decoration: underline;

  &:focus,
  &:hover {
    color: var(--secondary-color);
  }
}

button {
  align-items: center;
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: inherit;
  font-size: 0.9em;
  line-height: 1;
  font-weight: bold;
  justify-content: center;
  padding: 0.5rem 1rem 0.5rem;
  text-align: center;
  text-decoration: none;
  transition: 0.2s background-color ease-in-out;

  &:focus,
  &:hover {
    background-color: var(--secondary-color);
  }

  &.secondary {
    background-color: transparent;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);

    &:hover {
      background-color: var(--tertiary-color);
    }
  }

  &.button-link {
    background: var(--tertiary-color);
    border: none;
    color: var(--primary-color);
    display: inline;
    padding: 0.1em 0.3em;
    margin: 0;
    height: unset;
    font-size: inherit;
    font-weight: inherit;
    text-align: inherit;
    vertical-align: inherit;

    &:hover {
      background-color: oklch(from var(--secondary-color) 0.95 0.1 h);
    }
  }
}

input,
textarea {
  appearance: none;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #d1d1d1;
  box-shadow: none;
  box-sizing: border-box;
  color: inherit;
  font: inherit;
  line-height: normal;
  padding: 0.25rem;

  &:focus {
    border-color: var(--secondary-color);
    box-shadow: 0 0 0 1px var(--secondary-color);
    outline: none;
  }
}

.spinner {
  display: inline-block;
  animation: spin 1s linear infinite;
  border: 2px solid currentcolor;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-radius: 100%;
  height: 0.75em;
  width: 0.75em;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

input[type="checkbox"] {
  appearance: none;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  cursor: pointer;
  display: grid;
  margin: 0.25rem 0 0;
  padding: 0.25rem;
  position: relative;
  place-content: center;
  width: 1em;
  height: 1em;

  &:focus,
  &:hover {
    background-color: oklch(from var(--secondary-color) 0.95 0.1 h);
    border-color: var(--secondary-color);
    box-shadow: 0 0 0 1px var(--secondary-color);
  }

  &:checked {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    box-shadow: 0 0 0 1px var(--secondary-color);
  }

  &:checked:focus,
  &:checked:hover {
    background-color: oklch(from var(--secondary-color) 0.8 c h);
    border-color: var(--primary-color);
    box-shadow: 0 0 0 1px var(--primary-color);
  }

  &::before {
    box-shadow: inset 1em 1em white;
    content: "";
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    height: 0.65em;
    transform: scale(0);
    transform-origin: bottom left;
    transition: 0.2s transform ease-in-out;
    width: 0.65em;
  }

  &:checked::before {
    transform: scale(1);
  }
}

input[type="range"] {
  appearance: none;
  background: transparent;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  color: inherit;
  font: inherit;
  line-height: normal;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 0.5em;
  vertical-align: baseline;
  display: inline-block;

  &:focus,
  &:hover {
    border: 1px solid var(--secondary-color);
    background: oklch(from var(--tertiary-color) 0.95 0.03 h);
    cursor: pointer;
    outline: none;
  }

  &::-webkit-slider-thumb {
    appearance: none;
    box-shadow: none;
    background: var(--secondary-color);
    border: none;
    border-radius: 100%;
    cursor: pointer;
    margin: 0;
    height: 1em;
    width: 1em;
  }

  &::-moz-range-thumb {
    appearance: none;
    box-shadow: none;
    background: var(--secondary-color);
    border: none;
    border-radius: 100%;
    cursor: pointer;
    margin: 0;
    height: 1em;
    width: 1em;
  }
}

svg.lucide {
  height: 1.25em;
  width: 1.25em;
}

button:has(> svg.lucide),
button.secondary:has(> svg.lucide) {
  font-size: 0.9rem;
  padding: 0.5rem;
  max-height: 100%;
}
