.settings[open] {
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
  gap: 0.5em;

  h2 {
    font-size: 1.1em;
    font-weight: 600;
    margin: 0;
    margin-bottom: 0.25em;
  }

  .setting-items {
    display: grid;
    gap: 0 0.5em;
    grid-template-columns: min-content 25em;
    align-items: center;
  }

  .setting-item {
    display: contents;

    & *:not(:first-child) {
      grid-column: 2;
    }
  }

  .setting-name {
    margin-top: 0.25em;
    font-weight: 500;
  }

  .setting-description {
    margin-bottom: 0.25em;
  }
}
