.settings[open] {
  .setting-items {
    display: grid;
    gap: 0 0.5em;
    grid-template-columns: min-content 25em;
    align-items: center;
  }

  .setting-item {
    display: contents;

    & *:not(:first-child) {
      grid-column: 2;
    }
  }

  .setting-name {
    margin-top: 0.5em;
    font-weight: 500;
  }
}
